* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0131e;
}

.header {
  width: 100%;
}

.headerStyle {
  color: #aee6e3;
}

.comics {
  margin-top: 140px;
  margin-bottom: 60px;
}

.mw-50 {
  max-width: 50%;
}

.comicContent {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.comicCover {
  width: 230px;
}
